files:
  "/sbin/appstart":
    mode: "000755"
    owner: webapp
    group: webapp
    content: |
      #!/usr/bin/env bash
      pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cpu

      pip install transformers

      # Activate virtual environment (if applicable)
      source /var/app/venv/bin/activate

      # Change directory to the application root (if necessary)
      cd /var/app/current

      # Install dependencies (if necessary, based on your setup)
      pip install -r requirements.txt

      # Run the Flask application using Gunicorn
      exec gunicorn -b 0.0.0.0:8000 application:application