files:
  "/sbin/appstart":
    mode: "000755"
    owner: webapp
    group: webapp
    content: |
      #!/usr/bin/env bash

      # Activate virtual environment (if applicable)
      source /var/app/venv/staging-LQM1lest/bin/activate

      # Change directory to the application root (if necessary)
      cd /var/app/venv/staging-LQM1lest/lib/python3.11/site-packages

      # Install dependencies (if necessary, based on your setup)
      pip install -r requirements.txt

      sudo sync; sudo sysctl -w vm.drop_caches=3
      sudo rm -rf /tmp/*
      sudo mount -o remount,size=1G /tmp

      sudo fallocate -l 2G /swapfile
      sudo chmod 600 /swapfile
      sudo mkswap /swapfile
      sudo swapon /swapfile
      sudo swapon --show

      pip install torch --index-url https://download.pytorch.org/whl/cpu

      pip install transformers

      cd /var/app/current

      # Run the Flask application using Gunicorn
      exec gunicorn -b 0.0.0.0:8000 application:application