files:
  "/sbin/appstart":
    mode: "000755"
    owner: webapp
    group: webapp
    content: |
      #!/usr/bin/env bash
      PYTHON_SCRIPT_PATH=/var/app/current/application.py

      # Activate virtual environment (if applicable)
      source /var/app/venv/bin/activate

      # Change directory to the application root (if necessary)
      cd /var/app/current

      # Install dependencies (if necessary, based on your setup)
      pip install -r requirements.txt
      pip install torch==2.1.0+cpu torchvision==0.16.0+cpu torchaudio==2.1.0+cpu -f https://download.pytorch.org/whl/torch_stable.html

      # Run the Flask application using Gunicorn
      exec gunicorn -b 0.0.0.0:8000 application:application